<!-- have take the navbar templet form the bootstrap -->

<nav class="navbar navbar-expand-md bg-body-light border-bottom  sticky-top ">   <!-- (added border-bottom class which is bootstrap class used to give bottom border to any structure )  -->
                                                                                 <!-- added sticky-top class which is bootstrap class used to fix navbar if we scroll downside the navbar will not go up it will be there only at same palce-->
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>    <!--have past the icon link of compass from fontawome and redirected it to the home using '/' -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link "  href="/">Home</a>                      <!--( added the directory of particular feature in href="_" ) -->
          <a class="nav-link" href="/listings">All Listings</a>              <!--( change the name of option in navbar and i have added the directory of particular feature in href="_" ) -->
          <a class="nav-link" href="/listings/new">Add new Listing</a>  <!--( change the name of option in navbar and i have added the directory of particular feature in href="_" ) -->
        </div>
      </div>
    </div>
  </nav>


  <!-- _ -->