 body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: Regular;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
 flex: 1;
}

/*navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

/* compass icon in navbar */
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 ! important; /*(important is used if by default we are using bootstrap or any other componante (like we have use bootstrap navbar ) our custom styling should override it ) */ 
}

/*footer*/
.f-info-links a{
   text-decoration:none ;
   color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links ,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
     margin-right: 1rem;
     font-size: 1.3rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* cards */
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
    width: 100% !important; 
    object-fit: cover !important; 
}

.card-img-top{
     border-radius:1rem ;
    }

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border:none !important;
}

/* show page */

.show-img{
    height: 40vh;
    width: 35vw !important;
    border-radius: 2rem !important;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

